{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}

  {% if form.errors %}
    <p>Tu usuario y contraseña no son correctos, favor de volver a intentar.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Tu cuenta no tiene acceso a esta página, inicia sesión con una cuenta que tenga acceso para continuar.</p>
    {% else %}
      <p>Por favor inicia sesión para continuar.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
      {{form|crispy}}
      <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'agregar-usuario' %}">¿No tienes cuenta todavía? ¡Regístrate ahora!</a></p>

{% endblock %}
